﻿@model List<Card>

@{
    var commonCards = Model.Where(c => c.Rarity == "common"); //first card should always be a basic land???? verify
    var uncommonCards = Model.Where(c => c.Rarity == "uncommon");
    var rareCards = Model.Where(c => c.Rarity == "rare" || c.Rarity == "mythic");
}

<!--
    6 cards first is land
    5 cards common
    3 uncommon
    1 rare
-->

<div class="card-group">

    @foreach (var card in commonCards.Take(6))
    {
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="https://www.bing.com/images/search?q=@card.Name MTG card" target="_blank">
                        @card.Name
                    </a>
                </h5>
                <p class="card-text">@card.Text</p>
                <p class="card-text"><small class="text-muted">@card.FlavorText</small></p>
            </div>
        </div>
    }
</div>
<div class="card-group">

    @foreach (var card in commonCards.TakeLast(5))
    {
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="https://www.bing.com/images/search?q=@card.Name MTG card" target="_blank">
                        @card.Name
                    </a>
                </h5>
                <p class="card-text">@card.Text</p>
                <p class="card-text"><small class="text-muted">@card.FlavorText</small></p>
            </div>
        </div>
    }
</div>

<div class="card-group">
    @foreach (var card in uncommonCards)
    {
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="https://www.bing.com/images/search?q=@card.Name MTG card" target="_blank">
                        @card.Name
                    </a>
                </h5>
                <p class="card-text">@card.Text</p>
                <p class="card-text"><small class="text-muted">@card.FlavorText</small></p>
            </div>
        </div>
    }
</div>

<div class="card-group">
    @foreach (var card in rareCards)
    {
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="https://www.bing.com/images/search?q=@card.Name MTG card" target="_blank">
                        @card.Name
                    </a>
                </h5>
                <p class="card-text">@card.Text</p>
                <p class="card-text"><small class="text-muted">@card.FlavorText</small></p>
            </div>
        </div>
    }
</div>
