﻿@model Set

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <p>
            Example application using HttpClient to get JSON data from <a href="https://mtgjson.com/">https://mtgjson.com/</a>, then using the <a href="https://docs.microsoft.com/en-us/dotnet/api/system.text.json?view=netcore-3.1">new System.Text.Json</a> class to deserialize the data, then display the data on this page.
        </p>
        <p>
            <a href="~/Home/GenerateBoosterPack">Generate a Booster Pack</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>Select an Expansion of Cards to View</p>
    </div>
</div>

<div class="row">
    <div class="col">
        @*https://en.wikipedia.org/wiki/List_of_Magic:_The_Gathering_sets*@
        <select id="expansionChoice" class="form-control">
            <option>Select</option>
            <option value="ZNR">Zendikar Rising</option>
            <option value="IKO">Ikoria: Lair of Behemoths</option>
            <option value="THB">Theros Beyond Death</option>
            <option value="ELD">Throne of Eldraine</option>
            <option value="WAR">War of the Spark</option>
            <option value="RNA">Ravnica Allegiance</option>
            <option value="GRN">Guilds of Ravnica</option>
            <option value="DOM">Dominaria</option>
            <option value="RIX">Rivals of Ixalan</option>
            <option value="XLN">Ixalan</option>
            <option value="HOU">Hour of Devastation</option>
            <option value="AKH">Amonkhet</option>
            <option value="AER">Aether Revolt</option>
            <option value="KLD">Kaladesh</option>
            <option value="EMN">Eldritch Moon</option>
            <option value="SOI">Shadows over Innistrad</option>
            <option value="OGW">Oath of the Gatewatch</option>
            <option value="BFZ">Battle for Zendikar</option>
            <option value="DTK">Dragons of Tarkir</option>
            <option value="FRF">Fate Reforged</option>
            <option value="KTK">Khans of Tarkir</option>
            <option value="JOU">Journey into Nyx</option>
            <option value="BNG">Born of the Gods</option>
            <option value="THS">Theros</option>
        </select>
    </div>
    <div class="col">
        <p>Note: Core Editions (Like M20) are not included.</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <h1>@Model.Name</h1>
        <p><strong>Released: @Model.ReleaseDate.ToShortDateString()</strong></p>
    </div>
</div>

<div class="row">
    <div class="col">

        <table id="cardTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Mana Cost</th> @*note: sorting removed*@
                    <th>Type</th>
                    <th>Text</th>  @*note: sorting removed*@
                    <th>Flavor Text</th>  @*note: sorting removed*@
                    <th>Power</th>
                    <th>Toughness</th>
                    <th>Rarity</th>  @*note: sorting removed*@
                    <th>Artist</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var card in Model.Cards)
                {
                    <tr>
                        @*if the card is multi-colored (like Black and Green), order the card's colors so that just one
                            css class is used to color the card. By ordering the card's colors, instead of making a
                            BG and GB for a card that has both Black and Green for manacost
                            class, make it sorted so it will use a BG class *@
                        <td class="@String.Join("", card.Colors.OrderBy(c => c))">
                            @*generate a link for the user to click on to get an image*@
                            <a href="https://www.bing.com/images/search?q=@card.Name MTG card" target="_blank">
                                @card.Name
                            </a>
                        </td>
                        <td>@card.ManaCost</td>
                        <td>@card.Type</td>
                        <td>@card.Text</td>
                        <td>@card.FlavorText</td>
                        <td>@card.Power</td>
                        <td>@card.Toughness</td>
                        <td class="@card.Rarity">@card.Rarity</td>
                        <td>@card.Artist</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        const expansionSelect = document.getElementById('expansionChoice');

        // when a new expansion shoice is selected, reload the page with the expansion choice
        expansionSelect.addEventListener('change', function () {
            let choiceCode = expansionSelect.options[expansionSelect.selectedIndex].value;
            location.href = '/Home/Index?expansionChoice=' + choiceCode;
        });


        //initiate datatable functionality
        $(document).ready(function () {
            $('#cardTable').DataTable({
                'columnDefs': [
                    // remove sorting from manacost, text, flavor text, and rarity fields
                    {
                        'targets': [1, 3, 4, 7],
                        'orderable': false
                    }
                ]
            })
        });
    </script>
}
