﻿a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Card rarity coloring */
.common {
    background-color: whitesmoke;
}

.uncommon {
    background-color: silver;
}

.rare {
    background-color: goldenrod;
}

.mythic {
    background-color: darkorange;
}

/* Card Color coloring */

/* red */
.R {
    background-color: rgba(255, 63, 63, 0.3);
}

/* green */
.G {
    background-color: rgba(57, 183, 102, 0.3);
}

/* B is for Black cards */
.B {
    background-color: rgba(11,11,33,0.3);
}

/*white*/
.W {
    background-color: rgba(241, 230, 179, 0.3);
}

/* U is for Blue cards... possibly because of "U" in "Blue"? */
.U {
    background-color: rgba(55, 188, 255, 0.3);
}

/*now time for multi-colored cards. only going to do 2 multicolors for now.*/

/*black-green*/
.BG {
    background-color: rgba(114, 154, 124, 0.3);
}

/*black red*/
.BR {
    background-color: rgba(177, 62, 62, 0.3);
}

/* black blue*/
.BU {
    background-color: rgba(42, 94, 120, 0.3);
}

/*black white*/
.BW {
    background-color: rgba(174, 177, 115, 0.3);
}

/*green red*/
.GR {
    background-color: rgba(161, 119, 66, 0.3);
}

/*green white*/
.GW {
    background-color: rgba(182, 216, 187, 0.3);
}

/*green blue*/
.GU {
    background-color: rgba(59, 193, 127, 0.3);
}

/*red-blue*/
.RU {
    background-color: rgba(117, 66, 190, 0.3);
}

/*red-white*/
.RW {
    background-color: rgba(237, 171, 171, 0.3);
}

/*blue-white*/
.UW {
    background-color: rgba(143, 190, 213, 0.3);
}

/* end of card colors */






